@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //cursor: url('./custom.svg'), auto;
}


.page {
    position: relative;
    height: 300vh;
}

.content {
    background: transparent;
    // transform: scale(1.2);
    width: 100%;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .slide-right {
    animation: slide-right 0.5s forwards;
}

.slide-left {
    animation: slide-left 0.5s forwards;
}

@keyframes slide-right {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.bg-gradient {
  background: linear-gradient(270deg, #000000 0%, #ae050a 100%);
}

.bg-backdrop {
  backdrop-filter: blur(20px);
  background-color: rgba(230, 0, 0, 0.3);
}

.enlarge-icon:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.loading {
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




@import './header';
@import './contact';